.app-grid {

  display: grid;

  height: 100vh;
  width: 100%;

  grid-template-columns: 220px 2fr 300px;
  grid-template-rows: 70px 2fr 1fr;

  grid-template-areas:

    "sidebar header ranking"
    "sidebar blockly-simulation ranking"
    "sidebar code missions";

  gap: 15px;
  padding: 15px;

  background: #f5f7fb;
}

/* áreas */

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(180deg,#4a90e2,#3578c9);
  border-radius: 10px;
}

.header {
  grid-area: header;
  background: white;
  border-radius: 10px;
}

.ranking {
  grid-area: ranking;
  background: white;
  border-radius: 10px;
}

/* área central */

.blockly-simulation{
  grid-area: blockly-simulation;
  display: flex;
  gap: 2px;
  height: 100%;
}

.blockly {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.simulation {
  background: white;
  border-radius: 10px;
  flex: 1;
}

.code {
  grid-area: code;
  background: white;
  border-radius: 10px;
}

.missions {
  grid-area: missions;
  background: white;
  border-radius: 10px;
}

/* sidebar buttons */

.structurebar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.structurebar button {
  background: #4a90e2;
  color: #333;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  transition: 0.2s;
}

.structurebar button:hover {
  background: #e9eefc;
}