.stack {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.stack-item {
  width: 80px;
  height: 40px;
  background: #2c7be5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.list-item {
  width: 80px;
  height: 40px;
  background: #2c7be5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.queue {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}

.queue-item {
  width: 80px;
  height: 40px;
  background: #2c7be5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}