# =========================
# 🌐 SERVER
# =========================
PORT=3000
NODE_ENV=development

# =========================
# 🔐 AUTH
# =========================
JWT_SECRET=your_secret_here

# =========================
# 🌍 FRONTEND
# =========================
FRONTEND_ORIGIN=http://localhost:5173

# =========================
# 🗄️ DATABASE
# =========================
MONGO_URI=mongodb://localhost:27017/db_name